.home-container {
    max-width: 1200px;   /* or 1100px */
    margin: 0 auto;      /* centers container */
    padding: 0 24px;     /* inner spacing */
  }
  
.stats-bar{
  display: flex;
  flex-direction: row;
  gap: 40px;
}