.register-wrapper {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.register-form{
    max-width: 420px;
    padding: 28px;
    margin-left: 200px;
    margin-right: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px
}

/* Input wrapper */
.input-group {
    position: relative;
    width: 100%;
  }

/* Icon inside input */
.icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

.user-icon {
background-image: url("../../public/user.png");
}
.email-icon {
background-image: url("../../public/email.png");
}
.phone-icon {
background-image: url("../../public/call.png");
}
.lock-icon {
background-image: url("../../public/lock.png");
}
.location-icon {
    background-image: url("../../public/.location.png");
}

/* Input field */
.input-group input {
    width: 90%;
    padding: 8px 10px 8px 44px;
    border-radius: 8px;
    border: 2px solid var(--sand-beige);
    background: var(--off-white);
    outline: none;
    font-size: 14px;
  }
  
  .input-group input::placeholder {
    color: #9b9b9b;
  }

/* Focus effect */
.input-group input:focus {
    border-color: var(--gold);
  }
  
  /* Error text */
  .error {
    font-size: 12px;
    color: red;
    margin-top: -10px;
  }

  .gender-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  
    padding: 8px 12px 8px 44px;
    border: 2px solid var(--sand-beige);
    border-radius: 8px;
    background: var(--off-white);
    position: relative;
  }
  
  /* optional gender icon */
  .gender-icon {
    background-image: url("/icons/gender.png");
  }
  
  /* hide radio */
  .gender-option input {
    display: none;
  }
  
  /* pill buttons */
  .gender-option {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1.5px solid var(--sand-beige);
    font-size: 13px;
    cursor: pointer;
    color: var(--dark-grey);
  }
  
  /* selected state */
  .gender-option input:checked + span,
  .gender-option input:checked {
    background: var(--forest-green);
    color: white;
    border-color: var(--forest-green);
  }
  
/* Login text */
.login-text {
    text-align: center;
    font-size: 14px;
    color: var(--dark-grey); 
  }
  
  .login-text a {
    color: var(--forest-green);
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }

  /* .btn-secondary {
    background: transparent;
    border: 2px solid var(--forest-green);
    color: var(--forest-green);
  } */
  