:root {
    --sand-beige: #D9C8A7;
    --off-white: #FAFAFA;
    --gold: #D4A017;
    --mint-green: #E8F5E9;
    --soft-olive: #7DA37D;
    --forest-green: #1B5E20;
    --dark-green: #2E7D32;
    --dark-grey: #767879;
    --dark: #000000;
  }
  