.btn {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }
  
  /* Primary button */
  .btn-primary {
    background-color: var(--bright-green);
    color: var(--off-white);
  }
  
  .btn-primary:hover {
    background-color: var(--forest-green);
  }
  
  /* Secondary button */
  .btn-secondary {
    background-color: var(--gold);
    color: var(--off-white);
  }
  
  .btn-secondary:hover {
    background-color: var(--sand-beige);
    color: var(--dark)
  }
  
  /* Disabled */
  .btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  
  